body {
    background-color: #1c1c1c;
    color: #f5f5f5;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 400px;
    padding: 20px;
    background: #333;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

/* Start Screen */
.start-screen {
    display: block;
}

h1 {
    color: #90ee90;
}

.workout-link {
    display: block;
    color: #90ee90;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.workout-link:hover {
    color: #2e8b57;
}

.new-list-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.add-icon {
    font-size: 25px;
    color: #32cd32;
    cursor: pointer;
}

.add-new-list {
    color: #32cd32;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}

.add-new-list:hover {
    color: #2e8b57;
}

button {
    background-color: #32cd32;
    color: #ffffff;
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #2e8b57;
}

.scrollable {
    max-height: 240px;
    overflow-y: auto;
    margin: 20px 0;
    text-align: left;
    border: 1px solid #555;
    padding: 10px;
}

.add-button {
    font-size: 25px;
    color: #32cd32;
    background: none;
    border: none;
    padding: 0;
    margin: 10px 0;
    cursor: pointer;
}

.add-button:hover {
    color: #2e8b57;
}

#timer {
    margin-top: 20px;
}

#timer-display {
    font-size: 18px;
    margin-top: 10px;
}

#start-workout {
    width: 100%;
}

.congrats-box {
    background-color: #32cd32;
    color: #ffffff;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    z-index: 1000;
}

/* Home Button */
.home-button {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.home-button a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}
