body {
    background-color: #1c1c1c;
    color: #f5f5f5;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 350px;
    padding: 20px;
    background: #333;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #90ee90;
}

button {
    background-color: #32cd32;
    color: #ffffff;
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #2e8b57;
}

#workout-list {
    margin: 20px 0;
    text-align: left;
}

#workout-list > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    padding-left: 40px; /* Indent the checkbox and input */
}

input[type="checkbox"] {
    width: 25px; /* Increase the size of the checkbox */
    height: 25px;
    margin-right: 10px;
}

input[type="text"] {
    width: 60%;
    padding: 5px;
}

.delete-item {
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: #666;
    display: none;
    cursor: pointer;
}

#workout-list > div:hover .delete-item {
    display: block; /* Show the cross only on hover */
}

.add-button {
    font-size: 25px;
    background-color: #32cd32;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px; /* Center the + symbol vertically */
    margin: 20px auto;
    display: block;
    border: 2px solid #2e8b57;
}

.add-button:hover {
    background-color: #2e8b57;
}

.finish-button {
    background-color: #32cd32;
}

#timer {
    margin-top: 20px;
}

#timer-display {
    font-size: 18px;
    margin-top: 10px;
}

#start-workout {
    width: 100%;
}

/* Congratulatory Message Box */
.congrats-box {
    background-color: #32cd32;
    color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 18px;
}
